<!-- Extienden su Layout -->
{% extends 'templateLayout.html' %}
<!-- Definen Cuál es su link activo -->
{% block Index %}active{% endblock %}

<!-- Escritura del dentro del layout, básicamente su función va acá -->
{% block content_layout %}

{% block content %}

<h1>Servicios Pokemon</h1>

<div class="">
  <br>
</div>
<div class="">
  <a href=/ConsultaPokemon style="text-decoration: none">
    <button type="button" class="btn success block" name="button4"> Consulta Pokemon </button>
  </a>
</div>
<br>
<div class="">
  <a href=/SafariPokemon style="text-decoration: none">
    <button type="button" class="btn success block" name="button6"> Safari Pokemon</button>
  </a>
</div>
<div class="">

  <div class="">
    <br>
  </div>
  <div class="">
    <a href=/servicePokeHoroscopo style="text-decoration: none">
      <button type="button" class="btn success block" name="button5"> Horoscopo Pokemon </button>
    </a>
  </div>
  <div class="">
    <br>
  </div>
  <div class="">
    <a href=/servicePokeBatalla style="text-decoration: none">
      <button type="button" class="btn success block" name="button6"> Batalla Pokemon </button>
    </a>
  </div>
  <div class="">
    <br>

  </div>
  <div class="">
    <a href=/servicePokeBanco style="text-decoration: none">
      <button type="button" class="btn success block" name="button6"> Poke Banco </button>
    </a>
  </div>
  <br>
  <div class="">
    <a href=/servicePokeLista style="text-decoration: none">
      <button type="button" class="btn success block" name="button6"> Lista Pokemon </button>
    </a>
  </div>
  <div class="">
    <br>
    {%  endblock %}
    {%  endblock %}