<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='css/style.css') }}">
    <title>Poke Servicios</title>
    <title></title>
</head>

<body>
    <div class="header">
        <h1>PokeServicios</h1>
    </div>
    <ul>
        <li><a href= / class="{% block Index %}{% endblock %}">Home</a></li>
        <li><a href=/ConsultaPokemon class="{% block ConsultaPokemon %}{% endblock %}">Consulta Pokemon</a></li>
        <li><a href=/SafariPokemon class="{% block SafariPokemon %}{% endblock %}">Safari Pokemon</a></li>
        <li> <a href=/servicePokeHoroscopo class="{% block servicePokeHoroscopo %}{% endblock %}">Horoscopo Pokemon</a>
        </li>
        <li> <a href=/servicePokeBatalla class="{% block servicePokeBatalla %}{% endblock %}">Batalla Pokemon</a></li>
        <li><a href=/servicePokeBanco class="{% block servicePokeBanco %}{% endblock %}">Poke Banco</a></li>
    </ul>


    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        {% block content_layout %}
        <!-- Acá se crea se crea su codigo -->
        {% endblock %}

    </div>

</body>

</html>