<!-- Extienden su Layout -->
{% extends 'templateLayout.html' %}
<!-- Definen Cuál es su link activo -->
{% block ConsultaPokemon %}active{% endblock %}

<!-- Escritura del dentro del layout, básicamente su función va acá -->
{% block content_layout %}


{% block content %}
{% from 'macros.html' import render_field %}
<form class="" method="post">
    <br>
    <table style="width:20%; border-style: none">
        <tr>
            <td>
                {{ render_field(form.pokemon) }}
            </td>
            <td>
                <button type="submit" class="btn success" name="consulta_pokemon">Enviar</button>
            </td>
        </tr>

    </table>
    <br>
    <div class="">
        {% if data %}
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sprite</th>
                <th>Total</th>
                <th>HP</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Special Attack</th>
                <th>Special Defense</th>
                <th>Speed</th>
                <th>Generación</th>
            </tr>
            <tr>
                <td>{{ data["id"] }}</td>
                <td>{{ data["nombre"] }}</td>
                <td><img src={{ 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/icons/{}.png'.format(data["id"]) }}
                        alt={{ data["nombre"] }}></td>
                <td>{{ data["total"] }}</td>
                <td>{{ data["hp"] }}</td>
                <td>{{ data["attack"] }}</td>
                <td>{{ data["defense"] }}</td>
                <td>{{ data["specialAttack"] }}</td>
                <td>{{ data["specialDefense"] }}</td>
                <td>{{ data["speed"] }}</td>
                <td>{{ data["generation"] }}</td>
            </tr>
        </table>
        <img src={{ 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{}.png'.format(data["id"]) }}
            alt={{ data["nombre"] }} width="300" height="300">

        {% endif%}
    </div>
</form>
{% endblock %}
{% endblock %}